<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.unicorn</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/sbin/unicorn_ce2.sh</string>
      <string>development</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/molecule/Dropbox/UCAR/ce2</string>
  </dict>
</plist>
